.main {
  min-height: 100vh;
  background-color: #fff;
  padding: 4rem 0;
  border-bottom: 1px solid rgba(243, 243, 243);

}

.imageContainer {
  position: relative;
  max-width: 1000px;
  max-height: 600px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 3em;
}

.blue {
  color: #0000ff;
}

.bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.small {
  font-size: 1rem;
}

.firstImgLayout {
  width: 100%;
  display: flex;
  min-height: 120vh;
  margin-bottom: 3em;
}


.secondImageContainer {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.secondImageContainer>* {
  position: relative;
  left: 15%;
}

.thirdImageContainer {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbffa7;
}


.secondImgLayout {
  width: 100%;
  display: flex;
  min-height: 140vh;
  margin-bottom: 3em;
}

.fourthImageContainer {
  width: 55%;
  background-color: #b6ffc0;
  background-image: url('/ableton-4.jpg'), url('/ableton-5.jpg');
  background-position: left 20% top 15%, left 20% bottom 15%;
  background-repeat: no-repeat no-repeat;
}

.fifthImageContainer {
  width: 45%;
  background-image: url('/ableton-6.jpg');
  background-position: top 50% left;
  background-repeat: no-repeat no-repeat;
  transform: translateX(-5rem);
}

.thirdImgLayout {
  width: 75%;
  display: flex;
  align-items: center;
  min-height: 120vh;
  margin: 0 auto;
  margin-bottom: 3em;
  background-color: #d5b3ff;
}

.sixthImageContainer {

  width: 33.33333vw;
  height: 25vw;
  background-image: url('/ableton-8.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  transform: translateX(-7vw);
}

.seventhImageContainer {

  width: 41.66667vw;
  height: 41.66667vw;
  background-image: url('/ableton-9.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  transform: translateX(10.5vw)
}

.fourthImgLayout {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.eighthImageContainer {
  background-image: url('/ableton-10.jpg');
  width: 50%;
  height: 34.73vw;
  ;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
  background-size: cover;
}

.jobsContainer {
  width: 50%;
  background-color: #b1c5ff;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jobsInfo {
  max-width: 25ch;
  letter-spacing: 0.04em;
}

.joblink {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 7.16em;
}

.hasArrow::after {
  content: '\00a0›';
}