.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid rgba(243, 243, 243);
    background-color: #fff;
    height: 4rem
}

.leftNav,
.rightNav {
    display: flex;
    gap: 2em;
}

.leftNav {
    font-weight: bold;
}

.leftNav:nth-child(1) {
    align-self: flex-end;
}

.rightNav {
    align-items: center;
}

.rightNav:nth-child(2) {
    font-weight: 700;
}

.blue {
    color: #0000ff;
}

.orange {
    color: #ff764d;
}

.mainNavItem {
    font-size: 1.25rem;
}

.secondNavItem {
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.stickyNav {
    position: sticky;
    top: 0;
    height: 4rem;
    display: block;
    background-color: rgba(255, 255, 255, .9);
    z-index: 1000;
    transition: transform .4s;
    transition-timing-function: ease-in;
}

.stickyNav ul {
    display: flex;
    max-width: 100%;
    height: 3.75rem;
    gap: 2.5em;
    max-width: 100rem;
    padding: 1em 2.5em 1em;
    line-height: 1.3;
}

.stickyNav.scrollUp {
    transform: none;
}

.stickyNav.scrollDown {

    transform: translate3d(0, -100%, 0);
}

@media screen and (min-width: 80em) {
    .stickyNav ul {
        font-size: 1rem;
        line-height: 1.5;
        height: 4.25rem;
        padding-block: 1.25rem;
    }
}